{% include 'partials/header.html' %}
  <body>
    <div class="wrapper">
      {% include 'partials/side_bar.html' %}

      <input type="text" value="{{product}}" hidden />
      <!-- <div id="calendar"></div> -->

      <div class="main-panel">
        {% include 'partials/nav_bar.html' %}

        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="card card-calendar">
                  <div class="card-content">
                    <div id="calendar"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

     

    
    {% include 'partials/modal.html' %}
  {% include 'partials/footer.html' %}
  <script>
    $("#myForm").submit(function (e) {
      e.preventDefault();

      $form = $(this);
      var formData = new FormData(this);
      console.log(formData);
      $.ajax({
        url: "/planing/",
        type: "POST",
        data: formData,
        cache: false,
        contentType: false,
        processData: false,
        success: function (response) {
          console.log(formData);
        },
      });
    });
  </script>

  <script>
    $("#updateForm").submit(function (e) {
      e.preventDefault();

      $form = $(this);
      var formData = new FormData(this);
      console.log(formData);
      $.ajax({
        url: `/planing/update/${$("#id").val()}`,
        type: "POST",
        data: formData,
        cache: false,
        contentType: false,
        processData: false,
        success: function (response) {
          console.log(formData);
        },
      });
    });
  </script>
   </body>
</html>
