{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include 'partials/header.html' %}
  <body>
    <div class="wrapper">
      {% include 'partials/side_bar.html' %}

      <input type="text" value="{{product}}" hidden />
      <!-- <div id="calendar"></div> -->

      <div class="main-panel">
        {% include 'partials/nav_bar.html' %}

        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="card card-calendar">
                  <div class="card-content">
                    <div id="calendar"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

     

    <!-- <a href="{% url 'planing' %}">/ </a>
    <a href="{% url 'anodisation' %}">anodisation </a>
    <a href="{% url 'laquageCouleur' %}">laquageCouleur</a>
    <a href="{% url 'rpt' %}">rpt</a> -->
    <!-- <div style="height: 40px; max-width: 900px; margin: 40px auto"> -->
    <!-- <table
      style="width: 900px; margin: 40px auto; height: 100%; border: 3px red"
    >
      <thead>
        <tr>
          <td>
            <div class="text-center">
              <table style="width: 100%; height: 100%; border: 3px red">
                <thead>
                  <tr>
                    <th style="width: 128px">Sun 4/11</th>
                    <th style="width: 128px">Mon 4/12</th>
                    <th style="width: 128px">Tue 4/13</th>
                    <th style="width: 128px">Wed 4/14</th>
                    <th style="width: 128px">Thu 4/15</th>
                    <th style="width: 129px">Fri 4/16</th>
                    <th style="width: 129px">Sat 4/17</th>
                  </tr>
                </thead>
              </table>
            </div>
          </td>
        </tr>
      </thead>
    </table> -->
    <!-- </div> -->
    
    {% include 'partials/modal.html' %}
  {% include 'partials/footer.html' %}
  <script>
    $("#myForm").submit(function (e) {
      e.preventDefault();

      $form = $(this);
      var formData = new FormData(this);
      console.log(formData);
      $.ajax({
        url: "/planing/",
        type: "POST",
        data: formData,
        cache: false,
        contentType: false,
        processData: false,
        success: function (response) {
          console.log(formData);
        },
      });
    });
  </script>

  <script>
    $("#updateForm").submit(function (e) {
      e.preventDefault();

      $form = $(this);
      var formData = new FormData(this);
      console.log(formData);
      $.ajax({
        url: `/planing/update/${$("#id").val()}`,
        type: "POST",
        data: formData,
        cache: false,
        contentType: false,
        processData: false,
        success: function (response) {
          console.log(formData);
        },
      });
    });
  </script>
   </body>
</html>
