<div class="modal fade" id="inquiryModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="inquiryModalLabel">Ajouter Produit(s)</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data" id="myForm">
          {% csrf_token %}
          <div id="empty_form">
            <div id="turningPoint" style="margin: 5px">
              <button id="add_more" type="button" class="btn btn-primary">
                Add Product
              </button>
            </div>
            <input
              type="submit"
              value="Send"
              class="btn btn-block btn-secondary"
            />
            <input id="jour" hidden />
            <hr />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Modifier Produit</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" id="id" hidden />
        <form method="POST" enctype="multipart/form-data" id="updateForm">
          {% csrf_token %}
          <div id="empty_form_update">
            <input
              style="margin: 2px 0"
              id="sub_mod"
              type="submit"
              value="Send"
              class="btn btn-block btn-secondary"
            />
            <input id="day" hidden />
            <hr />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
