{% load static %}
<div
        class="sidebar"
        data-background-color="brown"
        data-active-color="danger"
      >
        <!--
        Tip 1: you can change the color of the sidebar's background using: data-background-color="white | brown"
        Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
      -->
        <div class="logo">
          <a href="https://www.creative-tim.com/" class="simple-text logo-mini">
            CT
          </a>

          <a
            href="https://www.creative-tim.com/"
            class="simple-text logo-normal"
          >
            Creative Tim
          </a>
        </div>
        <div class="sidebar-wrapper">
          <!-- User -->
          <div class="user">
            <div class="photo">
              <img src="{% static 'img/faces/face-2.jpg' %}" />
            </div>
            <div class="info">
              <a
                data-toggle="collapse"
                href="#collapseExample"
                class="collapsed"
              >
                <span>
                  Chet Faker
                  <b class="caret"></b>
                </span>
              </a>
              <div class="clearfix"></div>

              <div class="collapse" id="collapseExample">
                <ul class="nav">
                  <li>
                    <a href="#profile">
                      <span class="sidebar-mini">Mp</span>
                      <span class="sidebar-normal">My Profile</span>
                    </a>
                  </li>
                  <li>
                    <a href="#edit">
                      <span class="sidebar-mini">Ep</span>
                      <span class="sidebar-normal">Edit Profile</span>
                    </a>
                  </li>
                  <li>
                    <a href="#settings">
                      <span class="sidebar-mini">S</span>
                      <span class="sidebar-normal">Settings</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <ul class="nav">
          
            <!-- Callendar  -->
            <li {% if 'planing' in request.path %}class="active"{% endif %}>
              <a
                data-toggle="collapse"
                href="#dashboardOverview"
                aria-expanded="true"
              >
                <i class="ti-calendar"></i>
                <p>
                  Type Calendrier
                  <b class="caret"></b>
                </p>
              </a>
              <div class="collapse in" id="dashboardOverview">
              {% with request.resolver_match.url_name as url_name %}
                <ul class="nav">
                  <li {% if url_name == 'anodisation' %}class="active"{% endif %}>
                    <a href="{% url 'anodisation' %}">
                      <span class="sidebar-mini">A</span>
                      <span class="sidebar-normal">Anodisation</span>
                    </a>
                  </li>
                  <li {% if url_name == 'planing' %}class="active"{% endif %}>
                    <a href="{% url 'planing' %}">
                      <span class="sidebar-mini">E</span>
                      <span class="sidebar-normal">Extrusion</span>
                    </a>
                  </li>
                  <li {% if url_name == 'laquageBlanc' %}class="active"{% endif %}>
                    <a href="{% url 'laquageBlanc' %}">
                      <span class="sidebar-mini">LB</span>
                      <span class="sidebar-normal">Laquage Blanc</span>
                    </a>
                  </li>
                 
                  <li {% if url_name == 'laquageCouleur' %}class="active"{% endif %}>
                    <a href="{% url 'laquageCouleur' %}">
                      <span class="sidebar-mini">LC</span>
                      <span class="sidebar-normal">Laquage Couleur</span>
                    </a>
                  </li>
                  <li {% if url_name == 'rpt' %}class="active"{% endif %}>
                    <a href="{% url 'rpt' %}">
                      <span class="sidebar-mini">R</span>
                      <span class="sidebar-normal">RPT</span>
                    </a>
                  </li>
                </ul>
              {% endwith %} 
              </div>
            </li>
            
            <!-- RapportJ  -->

            {% with request.resolver_match.url_name as url_name %} 
            <li {% if url_name == 'rapportAujourdui' %}class="active"{% endif %}>
              {% now 'Y-m-d' as mnt %}
              <a href='{% url "rapportAujourdui" %}'>
                <i class="ti-agenda"></i>
                <p>
                  Rapport Journalier
                </p>
              </a>
            </li>
          {% endwith %}
           
            <!-- Rapport -->
            {% with request.resolver_match.url_name as url_name %} 
            <li {% if url_name == 'rapport' %}class="active"{% endif %}>
              <a
                data-toggle="collapse"
                href="#rapport"
                aria-expanded="true"
              >
                <i class="ti-write"></i>
                <p>
                  Rapport
                  <b class="caret"></b>
                </p>
              </a>
            {% endwith %}
              <div class="collapse in" id="rapport">
                
             
              
                <ul class="nav">
                  
                  <li {% if 'Anodisation' in request.path %}class="active"{% endif %}>
                    <a href='{% url "rapport" typeR="Anodisation" %}'>
                      <span class="sidebar-mini">A</span>
                      <span class="sidebar-normal">Anodisation</span>
                    </a>
                  </li>
                  <li {% if 'Extrusion' in request.path %}class="active"{% endif %}>
                    <a href='{% url "rapport" typeR="Extrusion" %}'>
                      <span class="sidebar-mini">E</span>
                      <span class="sidebar-normal">Extrusion</span>
                    </a>
                  </li>
                  <li {% if 'Blanc' in request.path %}class="active"{% endif %}>
                    <a href='{% url "rapport"  typeR="LaquageBlanc" %}'>
                      <span class="sidebar-mini">LB</span>
                      <span class="sidebar-normal">Laquage Blanc</span>
                    </a>
                  </li>
                 
                  <li {% if 'Couleur' in request.path %}class="active"{% endif %}>
                    <a href='{% url "rapport" typeR="LaquageCouleur" %}'>
                      <span class="sidebar-mini">LC</span>
                      <span class="sidebar-normal">Laquage Couleur</span>
                    </a>
                  </li>
                  <li {% if 'RPT' in request.path %}class="active"{% endif %}>
                    <a href='{% url "rapport" typeR="RPT" %}'>
                      <span class="sidebar-mini">R</span>
                      <span class="sidebar-normal">RPT</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <!-- Pages -->
            <li>
              <a data-toggle="collapse" href="#pagesExamples">
                <i class="ti-gift"></i>
                <p>
                  Pages
                  <b class="caret"></b>
                </p>
              </a>
              <div class="collapse" id="pagesExamples">
                <ul class="nav">
                  <li>
                    <a href="pages/timeline.html">
                      <span class="sidebar-mini">TP</span>
                      <span class="sidebar-normal">Timeline Page</span>
                    </a>
                  </li>
                  <li>
                    <a href="pages/user.html">
                      <span class="sidebar-mini">UP</span>
                      <span class="sidebar-normal">User Page</span>
                    </a>
                  </li>
                  <li>
                    <a href="pages/login.html">
                      <span class="sidebar-mini">LP</span>
                      <span class="sidebar-normal">Login Page</span>
                    </a>
                  </li>
                  <li>
                    <a href="pages/register.html">
                      <span class="sidebar-mini">RP</span>
                      <span class="sidebar-normal">Register Page</span>
                    </a>
                  </li>
                  <li>
                    <a href="pages/lock.html">
                      <span class="sidebar-mini">LSP</span>
                      <span class="sidebar-normal">Lock Screen Page</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>