{% include 'partials/header.html' %}
<title>Strugal | Rapport d'aujourd'hui</title>
  <body>
    <div class="wrapper">
      {% include 'partials/side_bar.html' %}
      <div class="main-panel">
        {% include 'partials/nav_bar.html' %}
        <input id="data" hidden value='{{data|length}}'>
        <div class="content">
          <div class="container-fluid">
            <div class="row" style="display:flex;justify-content: space-between;align-items: flex-end; ">
              <div class="col-md-4" style="display:flex;flex-grow:2;align-items: flex-end;justify-content: space-around;">
                <div class="radio">
                  <input type="radio" name="radio1" id="radio1" value="Anodisation" checked="">
                  <label for="radio1">Anodisation </label>
                </div>
                <div class="radio">
                  <input type="radio" name="radio1" id="radio2" value="Extrusion">
                  <label for="radio2">Extrusion </label>
                </div>
                <div class="radio">
                  <input type="radio" name="radio1" id="radio3" value="Laquage Blanc">
                  <label for="radio3">Laquage Blanc </label>
                </div>
                <div class="radio">
                  <input type="radio" name="radio1" id="radio4" value="Laquage Couleur">
                  <label for="radio4">Laquage Couleur </label>
                </div>
                <div class="radio">
                  <input type="radio" name="radio1" id="radio5" value="RTP">
                  <label for="radio5">RTP </label>
                </div>
              </div>
              
              <div class="col-md-4" >
                <h4 class="card-title">Date Picker</h4>
                <div class="form-group">
                  <input id="la_date" type="text" class="form-control datepicker" placeholder="Date Picker Here"/>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card card-plain">
                  <div class="card-header">
                    <h4 class="card-title">Striped Table</h4>
                    <p class="category">Here is a subtitle for this table</p>
                  </div>
                  <div id="table-div" class="card-content table-responsive table-full-width">
                    <table id='tabla' class="table table-hover table-bordered">
                      <thead>
                        <tr>
                          <th class="text-center" scope="col" rowspan="2">Reference</th>
                          <th class="text-center" scope="col" rowspan="2">OBJ</th>
                          <th class="text-center" scope="col" rowspan="2">PPPR</th>
                          <th class="text-center" scope="col" colspan="2">PP</th>
                          <th class="text-center" scope="col" rowspan="2">PC</th>
                          <th class="text-center" scope="col" rowspan="2">PNC</th>
                          <th class="text-center" scope="col" rowspan="2">NOF</th>
                        </tr>
                        <tr>
                          <th class="text-center">en tonne</th>
                          <th class="text-center">en %</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for d in data %}
                        <tr>
                          <td id='{{ forloop.counter }}'>{{d.ref.ref}}</td>
                          <td class="text-center" id='ppr'>{{d.prod_physique_p_r}}</td>
                          <td class="text-center">{{d.prod_conforme}}</td>
                          <td class="text-center">{{d.prod_non_conforme}}</td>
                          <td class="text-center">{{d.n_of}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                      <tfoot>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
   
    
    {% include 'partials/footer.html' %}
  </body>
  
  <script>
   
    if(parseInt("{{data|length}}")>0){

      $('#1').after('<td class="text-center" rowspan="{{data|length}}">{{data.0.obj}}</td>');
      $('#ppr').after(`<td class="text-center" rowspan="{{data|length|add:'1'}}"> {{totalPPPR}}</td><td class="text-center" rowspan="{{data|length|add:'1'}}">{{prod_phy_pour}}%</td>`)
      $('#tabla tr:last').after(` <tr>
                      <td colspan="2">Total</td>
                      <td class="text-center">{{totalPPPR}}</td>
                      <td class="text-center">{{totalPC}}</td>
                      <td class="text-center">{{totalPNC}}</td>
                          </tr>`);
    }
   
    
  </script>

  

  <script type="text/javascript">
    $().ready(function(){
  // Init Sliders
        // demo.initFormExtendedSliders();
        // Init DatetimePicker
        demo.initFormExtendedDatetimepickers();
    });
</script>


<script>
  function change_page(type){
    if(($('#la_date').val())===""){
    var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();
            today = yyyy + '-' + mm + '-' + dd;
            $('#la_date').val(today)}
            console.log($('#la_date').val())
            console.log($('#la_date').val())
         
        $.ajax({
          url: `/rapport/rapport/${type}/${$('#la_date').val()}`,
          type: "GET",
          cache: false,
          dataType: 'json',
          success: function (response) {    
        
           var table = $('#table-div').children()
           var new_content = ''
           if (type !== 'Extrusion'){
             console.log(response['final_data'])
            new_content = `<table id='tabla' class="table table-hover table-bordered">
                      <thead>
                        <tr>
                          <th class="text-center" scope="col" rowspan="2">Reference</th>
                          <th class="text-center" scope="col" rowspan="2">OBJ</th>
                          <th class="text-center" scope="col" rowspan="2">PPPR</th>
                          <th class="text-center" scope="col" colspan="2">PP</th>
                          <th class="text-center" scope="col" rowspan="2">PC</th>
                          <th class="text-center" scope="col" rowspan="2">PNC</th>
                          <th class="text-center" scope="col" rowspan="2">NOF</th>
                        </tr>
                        <tr>
                          <th class="text-center">en tonne</th>
                          <th class="text-center">en %</th>
                        </tr>
                      </thead>
                      <tbody>`
                        for (d in response['final_data']){

                            new_content = new_content + `
                            <tr>
                              <td id='1'>`+response['final_data'][d]["ref"]+`</td>
                              <td class="text-center" id='ppr' class="text-center">`+response['final_data'][d]["prod_physique_p_r"]+`</td>
                              <td class="text-center">`+response['final_data'][d]["prod_conforme"]+`</td>
                              <td class="text-center">`+response['final_data'][d]["prod_non_conforme"]+`</td>
                              <td class="text-center">`+response['final_data'][d]["n_of"]+`</td>
                            </tr>
                         `
                        }
                        new_content = new_content + `
                      </tbody>
                    </table>`
                    table.replaceWith(new_content)
                    try {
                        
                        $('#1').after('<td class="text-center" rowspan='+response['len']+'>'+response['final_data'][0]["obj"]+'</td>');
                        $('#ppr').after('<td class="text-center" rowspan=' + +parseInt(response['len']+1) +'>'+response["result"]['totalProd']+'</td><td class="text-center" rowspan='+(parseInt(response['len'])+1).toString()+'>'+response["result"]['prod_phy_pour']+'%</td>')
                        $('#tabla tr:last').after(`<tr>
                    <td colspan="2">Total</td>
                    <td class="text-center">`+response["result"]['totalProd']+`</td>
                    <td class="text-center">`+response["result"]['totalPC']+`</td>
                    <td class="text-center">`+response["result"]['totalPNC']+`</td>
                        </tr>`);
  
                    } catch (error) {
                        console.log('no data')
                    }
           }
           else{
            new_content = `<table id ="tabla" class="table table-hover table-bordered">
                      <thead>
                        <tr>
                          <th class="text-center" scope="col" rowspan="2">Reference</th>
                          <th class="text-center" scope="col" rowspan="2">OBJ</th>
                          <th class="text-center" scope="col" rowspan="2">PP</th>
                          <th class="text-center" scope="col" rowspan="2">PC</th>
                          <th class="text-center" scope="col" rowspan="2">PNC</th>
                          <th class="text-center" scope="col" rowspan="2">DG</th>
                          <th class="text-center" scope="col" rowspan="2">NBR</th>
                          <th class="text-center" scope="col" rowspan="2">NOF</th>
                        </tr>
                      </thead>
                      <tbody>`

                        for (d in response['final_data']){
                            console.log(response['final_data'][d])
                        new_content = new_content + `<tr>
                          <td id='1'>`+response['final_data'][d]["ref"]+`</td>
                          <td class="text-center">`+response['final_data'][d]["prod_physique"]+`</td>
                          
                          <td class="text-center">`+response['final_data'][d]["prod_conforme"]+`</td>
                          
                          <td class="text-center">`+response['final_data'][d]["prod_non_conforme"]+`</td>
                         
                          <td class="text-center">`+response['final_data'][d]["deche_geometrique"]+`</td>
                          
                          <td class="text-center">`+response['final_data'][d]["nbr_barre"]+`</td>
                          <td class="text-center">`+response['final_data'][d]["n_of"]+`</td>
                        </tr>`
                        }
                        new_content = new_content+` </tbody>
                    </table>`
                    table.replaceWith(new_content)
                    len =  $('#data').val()
                    try {
                        
                      $('#1').after('<td class="text-center" rowspan='+response['len']+'>'+response['final_data'][0]["obj"]+' (T)</td>');
                        $('#tabla tr:last').after(`<tr>
                    <td colspan="2">Total</td>
                    <td class="text-center">`+response["result"]['totalProd']+`</td>
                    <td class="text-center">`+response["result"]['totalPC']+`</td>
                    <td class="text-center">`+response["result"]['totalPNC']+`</td>
                    <td class="text-center">`+response["result"]['totalDG']+`</td>
                    <td class="text-center">`+response["result"]['totalNBR']+`</td>
                        </tr>`);
                    } catch (error) {
                        console.log('no data')
                    }
           }
          },
        });
  }


  $('input[type=radio]').change(function(e) {
        if (this.id == 'radio1') {
          change_page("Anodisation")
        } 
        else if (this.id == 'radio2') {
          change_page('Extrusion')
        } 
        else if (this.id == 'radio3') {
          change_page('Laquage Blanc')
        } 
        else if (this.id == 'radio4') {
            change_page('Laquage Couleur')
        }
        else{
          change_page('RTP')
        }
      });
</script>
</html>
