{% include 'partials/header.html' %}
<title>Strugal | Rediger Rapport</title>
  <body>
    <div class="wrapper">
      {% include 'partials/side_bar.html' %}
      <div class="main-panel">
        {% include 'partials/nav_bar.html' %}
        <div class="content">
          <div  class="container-fluid">
          
            <form action="{% url 'saveRapport' typeR=typeR %}" method="post" id="saveRapport">
              <input
                type="text"
                name="datalength"
                id="lenData"
                hidden
                value="{{list}}"
              />
              {% csrf_token %}
              <table class="table table-bordered" id="ourTable">
                <thead>
                  <tr>
                    <th scope="col">Ref</th>
                    <th scope="col">Prod physique par Ref</th>
                    <th scope="col">Prod physique</th>
                    <th scope="col">Prod conforme</th>
                    <th scope="col">Prod non conforme</th>
                    <th scope="col">N of</th>
                    <th scope="col">Realisé</th>
                  </tr>
                </thead>
                <tbody>
                  {% for d in data %}
                  <tr>
                    <td hidden><input type="text" name="id-{{ forloop.counter }}" value="{{d.0.0.id}}" hidden></td>
                    <td>
                      <input
                        type="text"
                        name="ref-{{ forloop.counter }}"
                        step="any"
                        class="form-control"
                        id="id_ref-{{ forloop.counter }}"
                        value="{{d.1.ref}}"
                        readonly
                      />
                    </td>
                      <td>
                        <input
                          type="number"
                          name="prod_physique_p_r-{{ forloop.counter }}"
                          step="any"
                          class="form-control"
                          required=""
                          id="id_prod_physique_p_r-{{ forloop.counter }}"
                          value="{{d.0.0.prod_physique_p_r}}"
                        />
                      </td>
                    <td>
                      <input
                        type="number"
                        name="prod_physique-{{ forloop.counter }}"
                        step="any"
                        class="form-control"
                        required=""
                        id="id_prod_physique-{{ forloop.counter }}"
                        value="{{d.0.0.prod_physique}}"
                      />
                    </td>
                    
                    <td>
                      <input
                        type="number"
                        name="prod_conforme-{{ forloop.counter }}"
                        step="any"
                        class="form-control"
                        required=""
                        id="id_prod_conforme-{{ forloop.counter }}"
                        value="{{d.0.0.prod_conforme}}"
                      />
                    </td>
                    <td>
                      <input
                        type="number"
                        name="prod_non_conforme-{{ forloop.counter }}"
                        step="any"
                        class="form-control"
                        required=""
                        id="id_prod_non_conforme-{{ forloop.counter }}"
                        value="{{d.0.0.prod_non_conforme}}"
                      />
                    </td>
                   
                    
                    <td>
                      <input
                        type="text"
                        name="n_of-{{ forloop.counter }}"
                        step="any"
                        class="form-control"
                        required=""
                        id="id_n_of-{{ forloop.counter }}"
                        value="{{d.0.0.n_of}}"
                      />
                    </td>
                    <td>
                        
                      <input
                        type="checkbox"
                        name="realise-{{ forloop.counter }}"
                        step="any"
                        class="form-control"
                        id="id_realise-{{ forloop.counter }}"
                        {% if d.0.0.realise == True  %}checked{% endif %}
                      />
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <div class="text-center">
                <svg
                  id="add-one-more"
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  fill="currentColor"
                  class="bi bi-plus-circle"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                  />
                  <path
                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                  />
                </svg>
              </div>
              <div class="text-center">
                <button class="btn btn-primary">Enregistrer</button>
              </div>
            </form>
          </div>
        </div>
        {% include 'partials/footer.html' %}
  </body>
</html>
